#container {
    width: 1050px;
    border: 1px solid blue;
    margin: 0 auto;
}

/* Header */

#header {
    height: 100px;
    padding: 10px 0;
    border: 1px solid green;
}

#brand h1 a{
    font-size: 50px;
    font-weight: 100;
    color: SlateBlue;
    text-decoration: none;
}
#brand {
    float: left;
}
#searchBox {
    float: right;
    background: -moz-linear-gradient(rgb(186, 233, 155), rgb(124, 235, 50));
    width: 400px;
    height: 50px;
    padding: 15px 20px 0px 20px; 
    margin-top: 20px;
    
}
.submit {
    float: right;
    font-weight: bold;
    padding: 5px;
    font-size: 15px;
    background: slateblue;
    color: white;
}
.text {
    float: left;
    color: slateblue;
    font-size: 15px;
    padding: 5px;
    width: 200px;
    background: white url(img/search.jpg);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: right center;
}

.clear {
    clear: both;
}

#navBar {
    border: 1px solid red;
    height: 70px;
    padding: 7px 0;
    background: -moz-linear-gradient(#F8F594, #D5D533);
    background: -o-linear-gradient(#F8F594, #D5D533);
    background: -webkit-transition(#F8F594, #D5D533);
    background: linear-gradient(#F8F594, #D5D533);
}

#navBar ul {
    list-style: none;
}
#navBar ul li {
    float: left;
    border-right: 1px solid slateblue;
    padding: 0 30px;
    height: 30px;
}
#navBar ul li:last-child {
    border: none
}
#navBar ul li a {
    font-size: 17px;
    text-decoration: none;
    color: slateblue;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}
#navBar ul li a:hover, #navBar ul li a.active {
    font-size: 20px;
    font-weight: bold;
    color: slateblue;
}

/* Introduction */

#intro {
    border: 1px solid blue;
    margin: 16px 0;
    padding: 30px;
    background: linear-gradient(#E5F2BB, #B7E952); 
    background: -webkit-linear-gradient(#E5F2BB, #B7E952); 
    background: -o-linear-gradient(#E5F2BB, #B7E952); 
    background: -moz-linear-gradient(#E5F2BB, #B7E952); 
}
#intro h3 {
    color: #316901;
    font-size: 45px;
    font-weight: normal;
}
#intro p {
    font-size: 25px; 
    color: #628F19;
    text-align: justify;
}

/* Left sidebar */

#leftSidebar {
    border: 1px solid #BAF46F;
    padding: 10px 30px;
    border-radius: 20px;
    width: 450px;
    height: 500px;
    float: left;
}
#leftSidebar h3 {
    color: slateblue;
    font-size: 30px;
}
#leftSidebar ul {
    list-style-type: none;
    padding-top: 8px;
}
#leftSidebar ul li {
    list-style-image: url(img/arrow.png);
    padding: 4px 0 4px 10px;
}
#leftSidebar ul li a{
    font-size: 20px;
    text-decoration: none;
    padding-bottom: 4px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}
#leftSidebar ul li a:hover, #leftSidebar ul li a.active {
    color: slateblue;
    font-size: 24px;
    font-weight: bold;
}



/* Right sidebar */

#rightSidebar {
    border: 1px solid #BAF46F;
    padding: 10px 30px;
    border-radius: 20px;
    width: 450px;
    height: 500px;
    float: right;
}

#rightSidebar h3 {
    color: slateblue;
    font-size: 30px;
}

#rightSidebar ul {
    list-style-type: none;
    padding-top: 8px;
    padding-left: 40px;
}

#rightSidebar ul li {
    padding: 17px 0 17px 70px;
    background: url(img/tick.png);
    background-position: left center;
    background-repeat: no-repeat;
}

#rightSidebar ul li a{
    font-size: 20px;
    text-decoration: none;
    padding-bottom: 4px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}
#rightSidebar ul li a:hover, #leftSidebar ul li a.active {
    color: slateblue;
    font-size: 24px;
    font-weight: bold;
}