#container {
    width: 1050px;
    border: 1px solid blue;
    margin: 0 auto;
    height: 100px;
}

#brand h1 a{
    font-size: 50px;
    font-weight: 100;
    color: orange;
    text-decoration: none;
}